services:
  app:
    build: .
    container_name: purchases
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: